.App {
  min-height: 100vh;
  width: 100%;
  background-image: url("./assets/bg-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.top-section {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  align-items: flex-start;
  background-color: #06283d70;
  justify-content: space-between;
}

.brand-name {
  font-size: 2.5rem;
  font-weight: 500;
  color: #dff6ff;
}

.time {
  font-size: 1.5rem;
}

.date {
  font-size: 1rem;
}

.search-section {
  display: flex;
  margin: 0 auto;
  margin-top: 5rem;
  max-width: 500px;
  background-color: #06283d70;
  padding: 1rem 2rem;
  justify-content: center;
  gap: 1rem;
}

.location-input-box::placeholder {
  color: #dff6ff;
  font-family: "Open Sans", sans-serif;
}

.location-input-box {
  width: 90%;
  color: #dff6ff;
  font-family: "Open Sans", sans-serif;
  outline: none;
  border: 2px solid #dfdfdf;
  background-color: transparent;
  border-radius: 0.3rem;
  padding: 0.5rem 0.5rem;
}

.searchButton {
  font-family: "Open Sans", sans-serif;
}

.main-content {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.description-section {
  display: block;
  margin: 2rem auto !important;
  width: 100%;
  background-color: #06283d70;
  max-width: 500px;
  padding: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #dff6ff;
}

.description-section .feature-item {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  list-style: circle;
}

.weather-info-section {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 5rem;
  gap: 2rem;
  align-items: stretch;
}

.basic-info,
.other-info {
  min-height: 250px;
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #06283d70;
  padding: 1rem;
}

.location {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.temperatures {
  display: flex;
  align-items: flex;
  justify-content: flex-start;
}

.temperature-text {
  font-size: 4rem;
  font-weight: 500;
}

.divider {
  margin: 0 1rem;
  min-width: 0.4rem;
  height: 50px;
  background-color: #dff6ff;
}

.condition {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1rem;
}

.condition-text {
  font-size: 2rem;
}

.other-info {
  font-size: 1.2rem;
  width: 300px;
}

.wind,
.wind-direction,
.presure,
.humidity,
.feels-like,
.air-quality {
  display: flex;
  margin: 0.5rem 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 1rem;
  color: #dff6ff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.footer a {
  color: #dff6ff;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .App {
    min-height: 100vh;
    width: 100%;
    background-image: url("./assets/bg-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .top-section {
    flex-direction: column;
    gap: 0.5rem;
  }

  .brand-name {
    font-size: 2rem;
  }

  .search-section {
    margin-top: 2rem;
    padding: 1rem 1rem;
  }

  .basic-info,
  .other-info {
    max-width: 500px;
    min-height: auto;
  }

  .other-info {
    margin: 1rem 0;
  }

  .condition {
    max-height: 50px;
  }

  .condition img {
    height: 50px;
  }

  .wind,
  .wind-direction,
  .presure,
  .humidity,
  .feels-like,
  .air-quality {
    margin: 0.2rem 0;
    font-weight: 300;
  }

  .location {
    font-size: 2rem;
  }

  .temperature-text {
    font-size: 3rem;
  }

  .condition-text {
    font-size: 1.5rem;
  }

  .weather-info-section {
    flex-direction: column;
    margin-top: 2rem;
  }
  .footer {
    padding: 0 0.5rem;
    position: sticky;
    bottom: 0;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 992px) {
  .weather-info-section {
    flex-direction: column;
    margin-top: 2rem;
  }

  .basic-info,
  .other-info {
    width: 100%;
    min-height: auto;
  }

  .other-info {
    margin: 1rem 0;
  }

  .footer {
    padding: 0 0.5rem;
    position: sticky;
    bottom: 0;
    margin-top: 1rem;
  }
}
